<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{character.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="3">
        <ion-avatar>
          <img [src]="character.image" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col size="12" sizeMd="9">
        <h2>{{character.name}}</h2>
        <ion-item>
          <ion-label>Status: {{character.status}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Specie: {{character.species}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Gender: {{character.gender}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>